.slick-arrow {
  position: relative;
}

.slick-arrow {

  z-index: 999;
}

.slick-prev {
  left: 15px !important;
  width: 30px !important;

}

.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
}

.slick-next {
  right: 15px !important;
  width: 30px !important;
}

.slick-dots {
  bottom: 20px !important;
}

.slick-dots li button:before {
  color: White !important;
  font-size: 12px !important;
}